<!DOCTYPE html>
<html>
  <head>
    <title>Kodi</title>
    <meta charset='UTF-8'>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href='{%=o.htmlWebpackPlugin.files.css[css] %}' rel='stylesheet'>
    {% } %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section id='react'>

    </section>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src='{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}'></script>
    {% } %}
  </body>
</html>
