

// Reset
html {
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background: #C3D0D6;
}

html, body, #react {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  outline: none;
}


.tabContainer {
  padding: 1em;
}

.playlist {
  & > .controls {
    margin-bottom: 1em;
  }
}

.search {
  height: 100%;
}
